# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CVUT-FEL\DOKTORANDSKESTUDIUM\SI\2020\cv2\spring-boot-master\spring-data-jpa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
